.aside .logo a::before {
  border-top: 4px solid var(--Red);
  border-left: 4px solid var(--Red);
}
.aside .logo a::after {
  border-bottom: 4px solid var(--Red);
  border-right: 4px solid var(--Red);
}
.aside .nav li a:hover,
.aside .nav li a.active {
  color: var(--Red);
}

.aside .nav-toggle span,
.aside .nav-toggle span::before,
.aside .nav-toggle span::after,
.home .intro .social-link a {
  background-color: var(--Red);
}
