<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta description="Joseph Chu portfolio" />
    <meta author="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/normalize.css" />
    {% if title %}
    <title>Joseph Chu | {{ title }}</title>
    {% else %}
    <title>Joseph Chu</title>
    {% endif %}
  </head>
  <body>
    {% for post in posts %}
    <h1>{{ post.title }}</h1>
    <p>By {{ post.author }} on {{ post.date_posted }}</p>
    <p>{{ post.content }}</p>
    {% endfor %}
    <script src="js/script.js"></script>
  </body>
</html>
